*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: azure; */
}

.main-div{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center-div {
 width: 30%;
 height: 60vh;
 background-color: #aeafec;
 box-shadow: 2px 3px 20px -2px rgba(0, 0, 0, 0.8);
 border-radius: 10px;
}

.center-div h1 {
  background: transparent;
  padding-top: 10px;
}

.center-div input {
  /* text-align: center; */
  padding-left: 15px;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #201b25;
  width: 65%;
  outline: none;
}

button {
  min-height: 35px;
  font-size: 15px;
  width: 25%;
  margin-left: 10px;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 2px 3px 20px -2px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: lightgreen;
  font-weight: bold;
}

ul {
  margin-left: 10px;
}

ul li {
  padding-left: 15px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #222224;
}

.todo-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-top: 10px;
  }